<div class="container">
  <div class="row">
    <div class="col-12 mt-5" style="height: 60vh">
      <ngs-code-editor
        style="height: 100%"
        [theme]="theme"
        [codeModel]="codeModel"
        [options]="options"
      >
      </ngs-code-editor>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-primary m-1" (click)="onCompile()">Compilar</button>
  </div>

  <div class="row">
    <div class="col">
      <h2 class="text-primary text-center">{{ result }}</h2>
    </div>
  </div>
</div>
